<!-- Footer -->
<footer class="arteviaFooter footer" id="footer">
    <div class="footerRow">
        <div class="footerCol">
            <div class="footerLogo ">
                <a href="/" aria-label="Artevia home">
                    <h1>ARTEVIA</h1>
                </a>
            </div>
            <div class="footerLogoCaption  mt-24">
                <h3 class="titleCaption">
                                <span id="testQuote">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-quote" viewBox="0 0 16 16">
                                            <path d="M12 12a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1h-1.388q0-.527.062-1.054.093-.558.31-.992t.559-.683q.34-.279.868-.279V3q-.868 0-1.52.372a3.3 3.3 0 0 0-1.085.992 4.9 4.9 0 0 0-.62 1.458A7.7 7.7 0 0 0 9 7.558V11a1 1 0 0 0 1 1zm-6 0a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1H4.612q0-.527.062-1.054.094-.558.31-.992.217-.434.559-.683.34-.279.868-.279V3q-.868 0-1.52.372a3.3 3.3 0 0 0-1.085.992 4.9 4.9 0 0 0-.62 1.458A7.7 7.7 0 0 0 3 7.558V11a1 1 0 0 0 1 1z"/>
                                        </svg>
                                </span>
                        Where thoughtful design meets timeless elegance.
                    </h3>
            </div>
            <div class="footerSocialLinks mt-24">
                
            </div>
        </div>

        <div class="footerCol">
            <div class="quickLinksWrap">
                <h3 class="titleCaption">Services</h3>
                <ul class="quickLinks mt-16">
                    <li>
                        <a href="#">Residential Design</a>
                    </li>
                    <li>
                        <a href="#">Commercial Design</a>
                    </li>
                    <li>
                        <a href="#">Luxury Interiors</a>
                    </li>
                    <li>
                        <a href="#">Full-Service Renovation</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="footerCol">
            <div class="quickLinksWrap">
                <h3 class="titleCaption">Quick Links</h3>
                <ul class="quickLinks mt-16">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Portfolio</a>
                    </li>
                    <li>
                        <a href="#">Testimonials</a>
                    </li>
                    <li>
                        <a href="#">Blogs</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="footerCol">
            <div class="quickLinksWrap">
                <h3 class="titleCaption">Contact Us</h3>
                <ul class="quickLinks mt-16">
                    <li>
                        <a href="tel:+919876543210" class="footerContact">
                            <div class="fccIcon"></div>
                            <div class="fcPhone">+91 98765 43210</div>
                        </a>
                    </li>
                    <li>
                        <a href="mailto:hello@artevia.com" class="footerContact">
                            <div class="fccIcon"></div>
                            <div class="fcPhone">hello@artevia.com</div>
                        </a>
                    </li>
                    <li>
                        <a href="https://maps.app.goo.gl/NWT4wsa3GTHBNMxX8" target="_blank" class="footerContact">
                            <div class="fccIcon"></div>
                            <div class="fcPhone">123 Design Street. Chennai, India 600001</div>
                        </a>
                    </li>
                    
                </ul>
            </div>

        </div>
        
        <div class="footerCol">
            <div class="quickLinksWrap">
                <h3 class="titleCaption">News Letter</h3>
                <div class="mt-16 nslMessage">
                    Subscribe to get updates on our latest projects and insights.
                </div>
                <div class="newsLetterBoxWrap">
                        <div class="newsLetterBox">
                            <input type="search" placeholder="Enter your email..." id="nslBoxInput" />
                            <button type="submit" id="newsLetterIconBtn">
                    
                            </button>
                        </div>
                    </div>

            </div>

        </div>
    </div>
    <div class="copyRights">© 2026 Artevia. All rights reserved.</div>
</footer>