  :root{
  --brown-50: #fff9ed; 
  /* --brown-100: #fff2d4; */
  /* --brown-100: #ffe0af; */
  --brown-100: #ede0d4;
  --brown-200: #f0ede8;
  --brown-300: #ffd289;
  --brown-400: #fea739;
  --brown-500: #fc8b13;
  --brown-600: #ed7009;
  --brown-700: #c55409;
  --brown-800: #9c4210;
  --brown-900: #7e3810;
  --brown-950: #441b06;
  }