:root {
  --playfair: "Playfair";
  --lato: "Lato", sans-serif;
  /* --theme-bg: #eeeeee; */

  --bg-dark: hsl(0 0% 0%);
  --bg: hsl(0 0% 5%);
  --bg-light: hsl(0 0% 10%);
  --text: hsl(0 0% 95%);
  --text-muted: hsl(0 0% 70%);

  --theme-extra-light: #fbf7f4;
  --theme-50: #f8f3ee;
  --theme-100: #ede0d4;
  --theme-200: #e6ccb2;
  --theme-300: #ddb892;
  --theme-400: #b08968;
  --theme-500: #7f5539;
  --theme-600: #9c6644;

  --gradient-dark: linear-gradient(45deg, #9c6644, #b08968, #9c6644);
  --gradient-light: linear-gradient(45deg, #ddb892, #e6ccb2, #ddb892);

  --shadow-s: inset 0px 1px 2px #ffffff30,
              0px 1px 2px #00000015,
              0px 2px 4px #00000015;
  --shadow-m: inset 0px 2px 4px #ffffff15,
              0px 2px 4px #00000030,
              0px 4px 6px #00000030;
  --shadow-l: inset 0px 4px 6px #ffffff15,
              0px 4px 6px #00000060,
              0px 6px 8px #00000060;
}
* {
  margin: 0px;  
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: rgba(0, 0, 0, 0.859);
  font-family: var(--lato);
}
body {
  width: 100%;
  background: var(--bg-dark);
}
body:has(.preloader.active) {
  padding: 0px !important;
  overflow: hidden;
  display: flex;
}
/* .header h1{
  animation: titleBlurOut 6s linear;
  animation-timeline: view();
  animation-range: entry 0 50%;
}

@keyframes titleBlurOut {
  from {
    opacity: 0;
    filter: blur(12px);
    letter-spacing: 300px;
  }
  to {
    opacity: 1;
    filter: blur(0px);
    letter-spacing: 0px;
  }
} */
.pagebanner h2,
.pagebanner p{
  color: var(--theme-text);
}
.theme-button-light{
  background: var(--theme-100);
  border: 1px solid var(--theme-600);
  padding: 4.2px 9px;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: 0.3s;
}

.theme-button-light:hover{
  box-shadow: inset 0px 0px 12px var(--theme-300);
  border: 1px solid var(--theme-300);
}

.card-btn{
  border: 1px solid var(--theme-50);
  border-radius: 0.3rem;
  padding: 4.2px 12px !important;
  color: var(--theme-300) !important;
  background: var(--bg-light);
  box-shadow: var(--shadow-m);
  border: 1px solid var(--bg-light);
  cursor: pointer;
  transition: 0.3s;
}
.card-btn:hover{
  box-shadow: var(--shadow-s);
}

.preloader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1001;
  align-content: center;
  justify-items: center;
  opacity: 0;
  transition: 0.9s ease-in-out;
  background: transparent;
  box-sizing: border-box;
  background: var(--bg-dark);
}
.preloader.active {
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.plCircle{
  position: relative;
  width: 120px;
  height: 120px;
  width: clamp(120px, 12vw,  210px) ;
  height: clamp(120px, 12vw, 210px) ;
  border-radius: 50%;
  background: var(--bg-light);
  box-shadow: var(--shadow-m);
  border: 1px solid var(--bg-light);
  display: flex;
  justify-content: center;
  align-items: center;
}
.plCircle .plCounter .plCounterVal,
.plCircle .plCounter .plCounterValSymb{
  color: var(--text-muted);
  font-size: 3rem;
  font-weight: 400;
  font-family: var(--lato);
}
.plCircle .plCounter .plCounterValSymb{
  position: absolute;
  font-size: 1.8rem;
}
.plCircle::before{
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: transparent;
  box-shadow: var(--shadow-l);
  filter: blur(10px);
  border-radius: 50%;
}
.banner .plDecorElem{
  position: absolute;
  inset: 0;
  background: url("../images/bg-elem2.svg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.06;
  z-index: -1; background-attachment: fixed;
}
.decorLamps{
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.1;
}
.loadingContent li {
  padding: 0.21rem;
  list-style-type: none;
  opacity: 1;
  margin-top: 0px;
  transition: 0.3s ease-in-out;
}
@starting-style {
  .loadingContent li {
    opacity: 0;
    color: #000;
    margin-top: 21px;
  }
}
.loadData span {
  color: #441b06;
}


/* Artevia Header */
.header {
  position: relative;
  width: 100%;
  opacity: 1;
  background: transparent;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  transition: 0.3s linear;
  z-index: 1000;
}
.header::before,
.header.fixed::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: var(--bg-dark);
  box-shadow: var(--shadow-m);
  z-index: -1;
}
.header.fixed{
  position: fixed;
  animation: smoothDrop 0.6s ease-in-out;
}
@keyframes smoothDrop {
  from{margin-top: -30px;}
  to{margin-top: 0px}
}
.header.fixed::before{
  background: linear-gradient(180deg, var(--bg-dark) 60% ,  #0000);
}
.header.fixed::after{
  background: linear-gradient(180deg, var(--bg-dark));
  opacity: 0.96;
  z-index: -2;
  filter: blur(1px);
}
h1,
h2,
h3,
h4,
h5 {
  position: relative;
  font-family: var(--playfair);
  color: var(--theme-300);
  z-index: 10;
}
.mt-16 {
  margin-top: 1rem !important;
}
.mt-24 {
  margin-top: 24px !important;
}
.t-center {
  text-align: center;
}
.titleWrap {
  padding-bottom: 1rem;
}
.titleWrap .tilteBadge{
  padding: 0.3rem 1rem;
  border-radius: 30px;
  background: var(--theme-100);
  border: 1px solid var(--theme-200);
  color: var(var(--theme-500));
  text-transform: uppercase;
}
.titleCaption {
  position: relative;
  margin-top: 8px;
  z-index: 10;
}
h2+.titleCaption{
  color: var(--text-muted);
}
section {
  position: relative;
  overflow: hidden;
  /* background: var(--theme-bg-dark); */
  z-index: 10;
}
section h2 {
  font-size: 42px;
  font-size: clamp(42px, 4.2vw, 60px);
  color: var(--text);
  letter-spacing: -1.5px;
  line-height: 100%;
}
footer .titleCaption,
section .titleCaption {
  letter-spacing: 1px;
  line-height: 125%;
  font-family: var(--lato);
}
a {
  font-size: 1.12rem;
  font-size: clamp(1rem, 1.5vw, 1.12rem);
  font-family: var(--playfair);
  font-weight: 100;
  text-decoration: none;
}
p {
  font-family: var(--lato);
  font-size: 1rem;
  font-size: clamp(1rem, 3.9vw, 18px);
  color: var(--text-muted);
  line-height: 1.75;
}
/* Header */
.header .logo {
  cursor: pointer;
}
.header {
  display: flex;
  align-items: center;
}
.header .logo h1 {
  font-weight: 500;
  letter-spacing: -1.5px;
}
.header .logo h1 {
  font-weight: 500;
  letter-spacing: -1.5px;
}
.header li a {
  color: var(--text-muted);
  transition: 0.12s linear;
  text-transform: uppercase;
}
.mobile-none {
  display: none;
}
.navLinksWrap .navCTA a {
  padding: 0.6rem 0.9rem;
  background: var(--bg-light);
  color: var(--theme-300);
  border-radius: 3px;
  width: max-content;
  box-shadow: var(--shadow-l);
}
  
/* Banner */
.banner {
  position: relative;
  display: grid;
  overflow: hidden;
  box-shadow: 0 12px 30px var(--theme-bg-extra-light-dark);
  z-index: 100;
}
/* .ThemeBg {
  background: var(--bg-light);
} */
.ThemeBg-Light{
  background: var(--bg-light);
}
.paraMargin{
  display: block  ;
  margin-top: 1rem;
}



.banner h1 {
  font-size: 3rem;
  font-size: clamp(3rem, 5.1vw, 72px);
  letter-spacing: -2px;
  line-height: 100%;
  color: var(--text);
  text-transform: uppercase;
  transform: translateX(-100%);
  opacity: 0.1;
  transition: 1.2s ease-in-out;
}
.banner h1.fadeInRight{
  transform: translateX(0%);
  opacity: 1;
}
.bannerContentWrap {
  position: relative;
}
.bannerContent {
  position: relative;
  margin-top: 100px;
  list-style-type: none;
  opacity: 0.1;
  transition: 1.2s ease-in-out;
}
.bannerContent.br_fadeInUp{
  margin-top: 16px;
  opacity: 1;
}
.bannerTitleWrap {
  position: relative;
  z-index: 10;
}
.bannerContent li {
  display: flex;
  gap: 0.6rem;
  font-family: var(--lato);
  font-size: 2.4vw;
  font-weight: 300;
  font-size: clamp(16px, 3vw, 24px);
  padding: 8px 0px;
  align-items: center;
  color: var(--text-muted);
}
.bannerContent li svg{
  fill: var(--theme-300);
}
.ctaActionControllers {
  display: flex;
  width: max-content;
  gap: 1rem;
}
.ctaActionControllers .primaryctaBtn,
.ctaActionControllers .secondaryctaBtn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  padding: 10px 21px;
  padding: clamp(6px, 1vw, 12px) clamp(9px, 3vw, 21px);
  font-size: 24px;
  font-size: clamp(16px, 3vw, 24px);
  font-family: var(--playfair);
  border-radius: 3px;
  outline: 1px solid transparent;
  cursor: pointer;
  border: none;
  font-weight: 500;
  letter-spacing: 1.2px;
  transition: 0.3s;
  box-shadow: var(--shadow-m);
}
.secondaryctaBtn{
  color: var(--text);
  background: transparent !important;
  border: 1px solid var(--bg-light) !important;
  box-shadow: var(--shadow-m);
  border-radius: 0.3rem;
  transition: 0.3s;
}
.heroMetrics{
  position: relative;
  width:auto;
  height: auto;
  gap: 1rem;
  background: transparent;
  border-radius: 0.3rem;
  overflow: hidden;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px ,1fr));
  justify-content: space-evenly;
  border: 1px solid var(--bg-light);
  box-shadow: var(--shadow-s);
  z-index: 10;
}
.heroMetrics svg{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.21;
}
.metricCounter{
  position: relative;
  width: 100%;
  min-width: 90px;
  padding: 1rem;
  border-radius: 0.3rem;
  justify-items: center;
  align-content: center;
  margin-inline: auto;
  box-shadow: var(--shadow-m);
  overflow: hidden;
}
.metricCounter .counterVal.bounceUp{
  animation: bounceUp 1.2s 1 ease-in-out;
}
@keyframes bounceUp {
  from{
    font-size: 1rem;
    opacity: 0.1;
  }
  to{
    opacity: 1;
  }
}
/* .metricCounter svg{
  top: 0;
  left: 0;
} */
.counterVal{
  font-size: 2.1vw;
  font-size: clamp(21px, 2.1vw, 3rem);
  font-family: var(--lato);
}
.counterData,
.counterVal{
  color: var(--text);
  font-weight: bold;
}
.counterText{
  position: absolute;
  font-size: 18px;
  font-size: clamp(18px, 1.5vw, 1.5rem);
  padding: 3px;
  color: var(--theme-text);
}
.metricCounter h3{
  color: var(--text-muted);
  font-size: 18px;
  font-size: clamp(18px, 1.5vw, 1.5rem);
  margin-top: 0.6rem;
}



.ctaActionControllers .primaryctaBtn:active,
.navLinksWrap .navCTA a:active,
.ctaActionControllers .secondaryctaBtn:active {
  outline: 1px solid transparent;
}
.ctaActionControllers .primaryctaBtn:focus,
.ctaActionControllers .primaryctaBtn:focus,
.ctaActionControllers .secondaryctaBtn:hover,
.ctaActionControllers .secondaryctaBtn:hover{
  /* box-shadow: var(--shadow-l); */
  outline: 1px solid transparent;
}
.ctaActionControllers .primaryctaBtn {
  color: #fff;
  background: var(--gradient-dark);
  /* border: 1px solid var(--theme-500); */
}
.primaryctaBtn-reverse{
  background: linear-gradient(45deg, var(--theme-50), #fff, var(--theme-50)) !important;
  color: var(--theme-500) !important;
  border: 1px solid var(--theme-500) !important;
  box-shadow: inset 0px 0px 30px #fff !important;
}
.secondaryctaBtn-reverse  {
  color: var(--theme-100) !important;
  background: var(--gradient-dark) !important;
  border: 1px solid var(--theme-50) !important;
  box-shadow: none !important;
}
.secondaryctaBtn:focus{
  background: var(--theme-300);
}
.primaryctaBtn:hover,
.secondaryctaBtn:hover{
  scale: 0.99;
}
.controllersInfo {
  margin-top: 0.3rem;
  color: var(--theme-50);
  font-size: 0.9rem;
}
.bannerImage {
  position: relative;
  border-radius: 30rem;
  box-shadow: inset 0px 0px 12px var(--theme-100),
  -3px 3px 12px var(--theme-300);
  
}
.bannerImage::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  /* background: linear-gradient(to left, rgba(0, 0, 0, 0.1), red); */
}
.bannerDecorElem{
  position: absolute;
  right: 0;
  top: 0;
  width: 120px;
  height: 120px;
  background-image: url("../images/star.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: translate(12vw, 0%);
  opacity: 0.3;
}
.bannerDecorElem.smoothSwing{
  animation: smoothswing 21s ease-in-out infinite;
}
@keyframes smoothswing {
  0%, 100%{
  transform: translate(12vw, 100%);
  }
  50%{
  transform: translate(12vw, 0%);
  }
}
/* banner grid layout */
.gridLines {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  height: 100%;
  pointer-events: none;
  opacity: 0.12;
}
.vertilines,
.hrlines {
  position: absolute;
  width: 100%;
  height: 100%;
}
.gridLines .line {
  position: absolute;
  background: var(--theme-50);
}
.vertilines .line {
  width: 1px;
  height: 100%;
}
.hrlines .line {
  width: 100%;
  height: 1px;
}
.hrlines .line1 {
  margin-top: 33.3%;
}
.hrlines .line2 {
  margin-top: 66.6%;
}
.vertilines .line1 {
  margin-left: 33.3%;
}
.vertilines .line2 {
  margin-left: 66.6%;
}
/* Dialog */
body:has(#getStartedDialog[open]),
body:has(#lightBoxDialog[open]) {
  overflow: hidden;
}
#getStartedDialog,
#lightBoxDialog {
  /* background: var(--theme-600); */
  background: transparent;
  margin: auto;
  padding: 1.2rem;
}
#getStartedDialog[open],
#lightBoxDialog[open] {
  position: fixed;
  width: 100%;
  background: transparent;
  /* margin-left: 1rem; */
  min-height: 100%;
  top: 0;
  z-index: 120;
  background: var(--bg-light);
  border: 1px solid transparent;
}
#getStartedDialog:focus,
#lightBoxDialog:focus {
  outline: none;
}
#getStartedDialog::backdrop,
#lightBoxDialog::backdrop {
  background: var(--bg-light);
  opacity: 0.9;
}
.portfolio{
  box-shadow: var(--shadow-s);
}
.lightBoxImageView {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100%;
  background: radial-gradient(
    circle at center,
    var(--bg-light),
    var(--bg-light));
  inset: 0;
  overflow: hidden;
}
.lightBoxImage.hiddenImage{
  display: none;
}
#lightBoxDialog .lightBoxImageView img {
  border-radius: 0.3rem;
  user-select: none;
  max-width: 600px;
  box-shadow: var(--shadow-m);
  transition: 0.12s linear;
}
#lightBoxDialog .lightBoxImageView img.fadeOut{
  opacity: 0.81;
  /* scale: 1.001; */
  filter: blur(1px);
}
#lightBoxDialog .lightBoxImageView img.fadeIn{
  opacity: 1;
  /* scale: 1; */
  filter: blur(1px);
}
.lightBoxImageView .prevImg,
.lightBoxImageView .nextImg {
  position: absolute;
  width: 42px;
  min-height: 42px;
  width: clamp(42px, 4.2vw, 60px);
  min-height: clamp(42px, 4.2vw, 60px);
  cursor: pointer;
  pointer-events: all;
  background: var(--text-muted);
  border-radius: 0.3rem;
  backdrop-filter: blur(6px);
  transition: 0.3s;
}
.lightBoxImageView .prevImg {
  left: 0;
  margin-left: 42px;
}
.lightBoxImageView .nextImg {
  right: 0;
  margin-right: 42px;
}
.lightBoxImgCounter{
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 42px;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.lightBoxImgCounter span{
  color: var(--text-muted);
}
/* about */
.about {
  position: relative;
}
.about .aboutRow {
  display: grid;
  grid-template-columns: 3fr 1fr 2fr;
  /* isolation: isolate; */
}
.aboutImageCol {
  position: relative;
  background: transparent;
  background-size: cover;
  border-inline-end: transparent;
}
.aboutRow::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: url("../images/blogs/decor.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.012;
  z-index: -1;
}
.aboutImageWrap {
  position: relative;
  min-width: 300px;
  width: 100%;
  height: 420px;
  transition: 0.3s ease-in-out;
  border-radius: 3px;
  opacity: 1;
}

#lampFinishing #stop1,
#lampFinishing2 #stop1{
  stop-color:  var(--theme-extra-light);
}
#lampFinishing #stop2,
#lampFinishing2 #stop2{
  stop-color: var(--theme-text);
}
#lampFinishing #stop3,
#lampFinishing2 #stop3{
  stop-color: var(--theme-100);
}
#lampBottom{
  fill: var(--theme-extra-light);
}
.aboutImageWrap.settingUp {
  opacity: 0.1;
}
.aboutImageWrap .hexagon {
  position: absolute;
  width: 110px;
  height: 110px;
  aspect-ratio: 1 / 0.866;
  clip-path: polygon(
    25% 6.7%,
    75% 6.7%,
    100% 50%,
    75% 93.3%,
    25% 93.3%,
    0% 50%
  );
  transition: 0.4s ease-in-out;
  background: var(--theme-500);
  object-fit: cover;
}
.aboutImageWrap .hexagon img {
  width: 100%;
  object-fit: cover;
}
.aboutImageWrap .hexagon:not(:hover) {
  z-index: 0;
}
.aboutImageWrap .hexagon:hover {
  z-index: 10;
}
.aboutImageWrap .hexagon:hover {
  clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 100% 100%, 0% 100%, 0% 50%);
}
.aboutCountersCol {
  justify-items: start;
}
.aboutCounters {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1.2rem;
  overflow: hidden;
  background: var(--theme-bg-dark);
}
.aboutFixedContent{
  position: relative;
  z-index: 10;
  overflow: hidden;
}
.aboutContent p {
  line-height: 1.9;
  max-width: 1000px;
  overflow: hidden;
}

.aboutCounters .aboutCounter {
  position: relative;
  align-content: center;
  width: 100%;
  padding: 0.6rem;
  border-radius: 3px;
  transition: 0.12s ease-in-out;
  text-align: center;
  isolation: isolate;
  color: var(--template-black);
  overflow: hidden;
  cursor: default;
  background: var(--theme-bg-extra-light-dark);
  box-shadow: var(--shadow-m);
}
.aboutCounter svg{
  width: 42px;
  width: clamp(42px, 3vw, 3.9rem);
}
.aboutCounter svg path{
  fill: var(--text-muted);
}
.aboutCounters .aboutCounter::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  aspect-ratio: 1;
  /* margin-bottom: -120%; */
  /* background: var(--gradient-light); */
  /* background:  linear-gradient(180deg, transparent, var(--theme-50), var(--theme-100)); */
  border-radius: 3px;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
.aboutCounter.active::before {
  margin-bottom: 0px;
}
.aboutCounter .counterDesc {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;;
  font-size: clamp(0.9rem, 1.5vw, 1.5rem);
  margin-top: 1rem;
  pointer-events: none;
}

.aboutCounter .counterDesc h3{
  word-wrap: break-word;
}
.LrnMore {
  display: flex;
  align-items: center;
}
.LrnMore a {
  display: flex;
  align-items: center;
  padding: 0.6rem;
  font-size: clamp(18px, 1.2vw, 21px);
}
.contactUs .learMoreCTA {
  width: max-content;
  justify-content: start;
}
.LrnMore svg{
  display: block;
  width: 30px;
  height: 30px;
  /* background: url("../../Assets/images/arrow-right-theme.svg"); */
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 9px;
  margin-bottom: -3px;
  transition: 0.21s ease-in-out;
  fill: var(--theme-500)
}
.bottomCTA {
  position: relative;
}
.bottomCTA {
  padding-block: 7.2rem !important;
}
.bottomCTA::before,
.bottomCTA::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 1;
  left: 0;
  bottom: 0;
  pointer-events: none;
  z-index: -1;
}
.bottomCTA::before{
  background: var(--bg-dark);
}
.bottomCTA::after {
  background: url("../images/blogs/flower-vase-modern-interior.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.42;
}
.bottomCTA h2,
.bottomCTA p {
  color: var(--theme-50) !important;
}
.bottomCTA p {
  max-width: 720px;
  margin: 0.3rem auto 0;
  line-height: 1.7;
  opacity: 0.9;
}
.bottomCTA button {
  letter-spacing: 0.08em !important;
  padding: 12px 26px !important;
}
.bottomCTA .learMoreCTA{
  position: relative;
  z-index: 10;
}
.contactUs .LrnMore svg {
  display: block;
  width: 30px;
  height: 30px;
  background: url("../../Assets/images/contact/arrow-right-white.svg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 9px;
  margin-bottom: -3px;
  transition: 0.21s ease-in-out;
}
.LrnMore:hover svg {
  margin-left: 0px;
}
/* Services */
.services {
  position: relative;
  /* background: url("../images/services/bgTexture.webp"); */
  background-repeat: no-repeat;
  background-size: cover;
  background: transparent;
  z-index: 10;
}
.services::before,
.services::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: var(--bg-dark);
  z-index: -1;
}
.services::after{
  background: url("../images/leaf.svg");
  background-repeat: no-repeat;
  background-size: 39%;
  background-position: start;
  opacity: 0.06;
  filter: blur(3px)
}
.services .titleDescription,
.process .titleCaption,
.whyChooseUs .titleCaption,
.breadcrumb .titleCaption {
  max-width: 1000px;
  margin-inline: auto;
}
.prsCardIcon {
  opacity: 0.72;
}
.titleCaption.l-align {
  margin-inline: 0px !important;
}
.servicesGrid {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(clamp(330px, 33vw, 600px), 1fr)
  );
  gap: 1rem;
}
.servicesGrid .serviceCard {
  display: flex;
  border: 1px solid var(--bg-light);
  background: var(--bg-dark);
  padding: 0.9rem;
  border-radius: 1rem;
  transition: 0.21s linear;
}
.serviceCard.featured {
  border: 1px solid var(--bg-light);
  /* background: #fff; */
}
.serviceCard:hover {
  transform: translateY(-4px);
}
.serviceCard .cardRow {
  display: flex;
  width: 100%;
  overflow: hidden;
  gap: 1rem;
  background: var(--bg-light);
  border-radius: 0.3rem;
}
.serviceName.titleCaption{
  color: var(--text);
}
.serviceCardImage {
  position: relative;
  min-width: 150px;
  min-height: 150px;
  height: 100%;
  background-position: center;
  border-bottom-right-radius: 0.3rem;
}
.serviceCard img {
  width: 150px;
  aspect-ratio: 1;
  border-radius: 3px;
}
.serviceCardContent {
  padding: 12px;
  height: 100%;
}
.serviceCard p {
  margin-top: 0.5rem;
}

.serviceName {
  font-family: var(--playfair);
}
.learMoreCTA {
  width: 100%;
  justify-content: center;
  display: flex;
}
/* artevia portifolio */
.lightBoxViewGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(510px, 1fr));
  justify-content: space-between;
  gap: 1rem;
}
.lightBoxViewGrid .lightBoxImageWrap {
  /* justify-content: space-between; */
  width: 100%;
  aspect-ratio: 1;
}
.lightBoxImageGridWrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.lightBoxImage {
  border-radius: 0.3rem;
  transition: 0.21s ease-in-out;
  cursor: zoom-in;
}
.lightBoxImage:hover {
  transform: scale(1.05);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
}
.lightBoxImageGridWrap .lightBoxImage {
  width: 100%;
  aspect-ratio: 1;
}
.lightBoxImage{
  border: 12px solid var(--text-muted);
}
.closeModalController {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 3rem;
  margin-right: 3rem;
}
.closeModalController svg path{
  fill: var(--text-muted);
}
.closeModalController,
.lightBoxImageView .prevImg,
.lightBoxImageView .nextImg {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.12s linear;
}
.closeModalController,
.lightBoxImageView .prevImg svg,
.lightBoxImageView .nextImg svg {
  opacity: 0.5;
  transition: 0.12s linear;
}

.lightBoxImageView .prevImg svg path,
.lightBoxImageView .nextImg svg path{
  fill: var(--bg-light);
}
.closeModalController:hover,
.lightBoxImageView .prevImg:hover svg,
.lightBoxImageView .nextImg:hover svg {
  opacity: 1;
  transform: scale(1.1);
}
/* testimonials */
.testimonialRow{
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
  background: transparent;
  min-height: 420px;
  border-radius: 2.1rem;
  overflow: hidden;
  border: 2px solid var(--bg-light);
}
.testmonialStageWrap {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.testimonialImageWrap{
  width: 100%;
  height: 100%;
  background: url("https://img.magnific.com/free-photo/cheerful-women-holding-golden-star-icon_53876-71038.jpg?t=st=1780321681~exp=1780325281~hmac=f5df043259791bad5b625a14f634346a836223a17fac4197e1a23be4dc449735&w=1060");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 3x solid var(--bg-light);
  opacity: 0.9;
}
.testmonialStageWrap .testimonialCardPrev,
.testmonialStageWrap .testimonialCardNext {
  position: absolute;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: var(--theme-50);
  border-radius: 0.3rem;
  z-index: 100;
  top: 0;
  margin-top: 100px;
  box-shadow: var(--shadow-s);
  /* box-shadow: inset 0px 0px 5px #f1f1f1, 0px 6px 10px rgba(0, 0, 0, 0.1); */
  opacity: 0.3;
  transition: 0.3s;
  &:hover{
    opacity: 1;
  }
}
.testmonialStageWrap .testimonialCardPrev{
  left: 0;
  margin-left: 1.2rem;
}
.testmonialStageWrap .testimonialCardNext{
  right: 0;
  margin-right: 1.2rem;
}
.testmonialStageWrap .testimonialCardPrev img,
.testmonialStageWrap .testimonialCardNext img {
  filter: drop-shadow(2px 0px 0px var(--theme-100));
}
.testimonialCardsStage {
  position: relative;
  width: 100%;
  height: max-content;
  /* box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1); */
  border-radius: 0.3rem;
  background: transparent;
  transition: 0.5s ease-in-out;
  /* overflow: hidden; */
}
.testimonialCards {
  position: relative !important;
  width: 100%;
  display: flex;
  gap: 1rem;
  padding: 1rem;
  /* overflow: hidden; */
}
.testimonialCard {
  position: relative;
  display: flex;
  width: 100%;
  min-width: 100%;
  border-radius: 1.3rem;
  padding: 1.5rem;
  background: var(--bg-light);
  overflow: hidden;
}
.testCardImg {
  min-width: 210px;
  height: 100%;
  max-width: 300px;
  height: 250px;
  max-height: 100%;
  border-radius: 0.3rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.testCardImg.image1 {
  background: url("../images/testimonials/test1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.testCardImg.image2 {
  background: url("../images/testimonials/test2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.testCardImg.image3 {
  background: url("../images/testimonials/test3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.testCardImg.image4 {
  background: url("../images/testimonials/test2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.testCardContent {
  width: 100%;
  height: max-content;
  padding: 1rem;
}
.smallTestCards .testCardContent {
  padding: 0rem 1rem !important;
}
.testimonialCard .testCardContent {
  padding: 1rem 2.1rem 3rem 2.1rem;
}
.testCardContent p {
  font-size: 21px;
  font-size: clamp(21px, 1.5vw, 1.5rem);
  font-style: italic;
  /* max-width: 420px; */
}
#testQuote svg path{
  fill: var(--theme-300);
}
.contentProfile {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 0.6rem;
  font-size: 1rem;
}
.contentProfile #testReview {
  font-weight: 500;
  letter-spacing: 1px;
  color: var(--theme-300);
}
.contentProfile #reviewerInfo {
  opacity: 0.9;
  color: var(--text-muted);
}
.profileRating {
  margin-top: 0.6rem;
  margin-left: 1rem;
}
.profileRating .start svg path{
  fill: var(--text-muted);;
}
.testCardControllers {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  margin-bottom: 2.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  z-index: 100;
}

.testCardControllers span {
  border: 1px solid var(--text);
  display: flex;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  cursor: pointer;
  /* opacity: 0.6; */
}
.testCardControllers span.active {
  background: var(--theme-300);
}
.smallTestCards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
  gap: 1rem;
  overflow: hidden;
}
.smallTestCard {
  overflow: hidden;
  display: flex;
  gap: 0.3rem;
  background: var(--bg-light);
  padding: 1rem;
  border-radius: 0.9rem;
}
/* Blogs */
.blogs::before,
.blogs::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}
.blogs::before {
  background: transparent;
}
.blogs::after {
  background-position: top;
  background: url("../images/blogs/decor.png");
  opacity: 0.012;
}
.blogLayout {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1.5rem;
}
.blogsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
}
.flexBlog .blogCard,
.blogsGrid .blogCard {
  background: transparent;
  border: 1px solid var(--bg-light);
  border-radius: 0.9rem;
  box-shadow: var(--shadow-s);
  padding: 1.2rem 1.2rem 1.5rem 1.2rem;
}
.blogCard p {
  line-height: 1.8 !important ;
}
.blogCard.featured {
  padding: 22px 22px 39px 22px;
}
.blogCard .blogCardImg {
  width: 100%;
  height: max-content;
  margin-bottom: 1rem;
  overflow: hidden;
}
.blogsGrid .blogCard {
  box-shadow: var(--shadow-s);
}
.flexBlog .blogCard .blogCardImg {
  max-height: 390px;
}
.blogCard .blogCardImg img {
  object-fit: cover;
  border-radius: 0.3rem;
}
.blogCard .blogCardInfo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.3rem;
  border-bottom: 1px dotted #ccc;
  opacity: 0.6;
}
.designGuide {
  background: var(--theme-100);
  padding: 0.6rem 0.9rem;
  margin-bottom: 0.9rem;
  border-radius: 30px;
  width: max-content;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1.2px;
}
.blogCard .publishDate,
.blogCard .blogReadTime {
  width: max-content;
  color: var(--text-muted);
}
.designGuide .publishDate,
.designGuide .blogReadTime {
  color: var(--bg-dark);
}

/* Contact Us */
.contactRow {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 1rem;
  font-size: clamp(1rem, 3.9vw, 18px);
  gap: 1rem;
  background: #0000;
  border-radius: 0.3rem;
}
.contactUs form {
  max-width: 810px;
  background: #0000;
  border-radius: 0.3rem;
  padding: 1rem;
  font-size: clamp(1rem, 3.9vw, 18px);
  box-shadow: var(--shadow-m);
}

.contactUs form .formFields {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  justify-content: space-between;
  gap: 1rem;
}
.contactUs form .formFields .formField {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.contactUs form .formFields .formField input,
.contactUs form .formFields .formField textarea,
.contactUs form .formFields .formField select {
  width: 100%;
  max-width: 300px;
}

.contactUs form .formFields .formField textarea {
  border-radius: 6px;
}
.contactUs form .formFields .formField textarea {
  border: 2px solid var(--theme-100) !important;
  padding-inline: 10px;
  width: 300px;
}
.contactInfoBlock{
  padding: 1rem !important;
  box-shadow: var(--shadow-m);
}
.formFields .formField input,
.formFields .formField select,
.formFields .formField textarea,
textarea::placeholder,
.addressBlock address,
.formFields .formField label,
.contactInfoBlock .contactPhone,
.contactInfoBlock .contactMail,
.contactInfoBlock .timings {
  font-family: var(--lato);
  font-size: 0.8rem;
  font-size: clamp(0.8rem, 1.5vw, 1.12rem);
  color: var(--text);
  line-height: 1.75;
  background: transparent;
}
.formFields .formField label {
  position: absolute;
  left: 0;
  bottom: 0;
  margin-left: 3px;
  margin-bottom: 4px;
  transition: 0.3s linear;
}
.formFields .formField label.active {
  transform: translateY(-30px);
  color: var(--theme-500);
}
.formFields .formField input,
.formFields .formField input:active,
.formFields .formField input:hover,
.formFields .formField input:focus,
.formFields .formField select,
.formFields .formField textarea {
  height: 50px;
  border: 2px solid transparent;
  border-bottom: 2px solid var(--theme-100);
  outline: transparent;
}
input:focus,
textarea:focus {
  border-bottom-color: var(--theme-300) !important;
  outline: none;
}
.formFields .formField textarea {
  padding-top: 6px;
  transition: 0.42s ease-in-out;
}
.formFields .formField textarea.active {
  height: 120px;
}
.formFields .formField select {
  padding-block: 10px;
}
.respNote {
  margin-top: 0.72rem;
  font-size: medium;
  font-style: italic;
  opacity: 0.6;
  color: var(--text-muted)
}
.contactInfoBlock h3{
  color: var(--text);
}
.contactInfoBlock .contactPhone,
.contactInfoBlock .contactMail,
.contactInfoBlock .timings {
  margin-top: 0.12rem;
}
.contactInfoBlock svg{
  fill: var(--theme-300);
}
address > b{
  color: var(--theme-300);
}
.contactPhone > *,
.contactMail > *,
.timings > *{
  color: var(--text-muted);
}

.phoneTitle,
.emailTitle,
.hoursTitle,
.officeTitlte {
  display: flex;
  gap: 1rem;
  font-size: 1.2rem;
  align-items: center;
}
.contactMail > * {
  color: var(--text) !important;
}
button[submit] {
  padding: 12px 18px !important;
}
/* footer */
.arteviaFooter {
  position: relative;
  border-top: 1px solid rgba(126, 56, 16, 0.12);
  background: transparent;
  overflow: hidden;
  padding-block: 1.2rem;
}

.arteviaFooter::before{
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  left: 0;
  top: 0;
  background: linear-gradient(to right, #0000, var(--theme-500), #0000);
}
.arteviaFooter .footerRow {
  display: grid;
  gap: 1.2rem;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
}
.footerRow .footerCol .footerSocialLinks {
  display: flex;
  gap: 1rem;
  cursor: pointer;
}
.footerSocialLinks .socialIcon svg path{
  fill: var(--theme-300);
}
.footerSocialLinks .socialIcon:hover svg path{
  transition: 0.12s ease-in-out;
  fill: var(--text-muted);
}
.footerSocialLinks .socialIcon:hover{
  border: 1px dashed var(--text-muted);
  scale: 1.05;
}
.footerLogo h1 {
  letter-spacing: -0.5px;
}
.nslMessage{
  color: var(--text-muted);
}
.quickLinksWrap .newsLetter
.quickLinksWrap .titleCaption {
  position: relative;
  width: max-content;
  font-size: 0.95rem;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}
.quickLinksWrap .titleCaption{
  width: max-content;
}
.quickLinksWrap .titleCaption::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  margin-bottom: -5px;
  width: 100%;
  height: 1px;
  background: var(--theme-300);
}
.footerCol h3{
  color: var(--text-muted);
}
.footerSocialLinks .socialIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
  border: 1px dashed var(--theme-300);
  transition: 0.12s ease-in-out;
}
.quickLinks li {
  list-style-type: none;
  padding-block: 6px;
  margin-bottom: 8px;
}
.footerContact{
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.footerContact .fcPhone{
  color: var(--text-muted);
}
.fccIcon svg path{
  fill: var(--text-muted);
}
.quickLinks li a {
  position: relative;
  color: var(--text-muted);
  font-size: 1.2rem;
  transition: 0.12s ease-in-out;
}
.quickLinks li a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0%;
  height: 1px;
  margin-bottom: -3px;
  background: linear-gradient(
    to right,
    var(--theme-300),
    var(--theme-200),
    var(--theme-300)
  );
  transition: 0.6s;
}
.quickLinks li a:hover::before {
  width: 100%;
}

.copyRights {
  text-align: center;
  padding-block: 0.3rem;
  border-top: 1px dashed var(--theme-500);
  color: var(--text-muted)
}
.footerLogoCaption {
  font-style: italic;
}
.footerLogoCaption h3{
  color: var(--text-muted)
}

/* about us page */
.breadcrumb {
  position: relative;
  height: max-content;
  padding-block: 6rem !important;
  background: transparent;
}
.breadcrumb h2{
  color: var(--text);
}
.breadcrumbBgImage{
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  z-index: -1;
}
.servicesHero{
  position: relative;
  background: transparent;
  overflow: hidden;
}
.servicesHero::before,
.servicesHero::after{
  position: absolute;
  content: "";
  inset: 0;
  left: 0;top: 0;
  z-index: -1;
}

.servicesHero::before{
  background: url("../images/servicesHero.webp");
  background-size: cover;
}
.servicesHero::after{
  background: linear-gradient(90deg, 
  var(--theme-50) 300px,
  rgba(255, 255, 255, 0.81) 600px,
    transparent 810px
  );
}
.servicesHero .titleWrap{
  max-width: 600px;
}
.servicesHero .ctaActionControllers{
  width: 100% !important;
}
.aboutBlog {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  background: transparent;
}
.aboutBlog::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  /* background: url("../images/about/texture.svg"); */
  background-size: cover;
  opacity: 0.12;
  z-index: -1;
}
.aboutBlog .aboutBlogCol1{
  align-content: start;
}
.aboutBlog .aboutBlogCol2 {
  position: relative;
  display: flex;
  max-height: max-content;
  overflow: hidden;
  justify-content: end;
}

.aboutBlog .aboutBlogCol2 picture img{
  width: 100%;
  max-height: 720px;
  border-radius: 1.2rem;
}
.breadcrumb .ctaActionControllers {
  margin-inline: auto;
}
.breadcrumb::before{
  position: absolute;
  content: "";
  inset: 0;
  left: 0;top: 0;
  background: radial-gradient(
    var(--bg-light) 20%,
    var(--bg-light)
  );
  opacity: 0.6;
}
.bgCircles{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  background-image: url("../images/blogs/circle1.svg");
  background-attachment: fixed;
  opacity: 0.06;
}
.bgCircles svg circle{
  fill: var(--theme-300);
  opacity: 0.3;
}
.aboutMetrics{
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  background: transparent;
  border-radius: 1rem;
  box-shadow: var(--shadow-s);
}
.aboutMetrics svg{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.21;
}
.aboutMetrics .metricCounter{
  position: relative;
  width: 100%;
  min-width: 90px;
  padding: 1rem;
  border-radius: 0.3rem;
  justify-items: center;
  align-content: center;
  margin-inline: auto;
  box-shadow: var(--shadow-m);
  overflow: hidden;
}
.cardsSmall {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  gap: 1rem;
}
.philosophyCards{
  position: relative;
  background: var(--text-muted);
  padding: 1.2rem;
  overflow: hidden;
}
.philosophyCard #glassEffect3{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.12;
  z-index: -1;
}
.philosophyCards .philosophyCard,
.processCards .processCard,
.whyChCard {
  background: var(--text);
  padding: 1.2rem;
  border-radius: 0.3rem;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
}
.philosophyCard h3{
  color: var(--bg);
}
.philosophyCard p{
  color: var(--bg-light);
}
.philosophyCard svg path{
  fill: var(--theme-300);
}
.philosophyCards .philosophyCard {
  border: 1px solid var(--text-muted);
  transition: 0.3s ease-in-out;
}
.philosophyCards .philosophyCard:hover {
  transform: translateY(-6px) scale(1.02);
}
.phiCardIcon img {
  opacity: 0.72;
}
.processCards .processCard {
  position: relative;
  background: linear-gradient(
    60deg,
    var(--theme-100),
    var(--theme-50),
    var(--theme-100));
  transition: 0.12s ease-in-out;
  overflow: hidden;
}

.processCards .processCard h3{
  color: var(--theme-500);
}
.processCards .processCard:hover,
.achiveCounter:hover {
  /* scale: 1.012; */
  transform: translateY(-6px) scale(1.02);
}
.processCard::before,
.processCard::after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
}

.processCard::before {
  margin-right: 1rem;
  margin-top: 47px;
  width: 100%;
  height: 1px;
  border-bottom: 3px dashed var(--theme-600);
  opacity: 0.021;
}
.processCard::after {
  width: 60px;
  height: 60px;
  margin-right: 1rem;
  margin-top: 18px;
  background: var(--theme-300);
  text-align: center;
  font-size: 3rem;
  border-radius: 50%;
  color: #fff;
  opacity: 0.81;
  z-index: 1;
}
.processCard1::after {
  content: "1";
}
.processCard2::after {
  content: "2";
}
.processCard3::after {
  content: "3";
}
.processCard4::after {
  content: "4";
}
.achiveCounter {
  background: rgba(255, 255, 255, 0.534);
  background: linear-gradient(90deg, var(--text), var(--text-muted), var(--text-muted));
  padding: 1.5rem 1rem;
  border-radius: 0.3rem;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  transition: 0.12s ease-in-out;
}
.achiveCounter h3 {
  font-size: 42px;
  font-size: clamp(42px, 4.2vw, 60px);
  color: var(--theme-500);
}
.achiveCounter h3 span{    color: var(--text);
    font-weight: 100 !important;
    position: absolute;
    margin-top: -15px;
}
.achiveCounter .titleCaption {
  color: var(--bg-light);
  opacity: 0.72;
}
.designersGrid {
  display: flex;
  gap: 1.2rem;
}
.designersGrid .cardsSmall {
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  overflow: hidden;
}
.designersGrid > p {
  min-width: 240px;
  max-width: 240px;
}
.designers {
  transform-style: preserve-3d;
  perspective: 1000px;
  max-width: 100%;
  min-height: 420px;
}
.designerProfile:nth-child(1) {
  z-index: 1;
  transform: translate3d(50%, 0%, 0) 
    rotateY(calc(0deg));
}
.designerProfile:nth-child(2) {
  z-index: 2;
}
.designerProfile:nth-child(3) {
  z-index: 3;
}
.designerProfile:nth-child(4) {
  z-index: 2;
}
.designerProfile:nth-child(5) {
  z-index: 1;
}
.designerProfile {
  position: absolute;
  width: 210px;
  padding: 0.6rem 0.6rem 2.1rem;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  /* background: var(--text-); */
  background: transparent;
  border: 1px solid var(--text-muted);
  overflow: hidden;
  border-radius: 0.3rem;
  margin-left: calc(var(--x) * 180px);
  /* transform: translate3d(50%, 10%, 0) 
    rotateZ(calc(var(--z) * 1deg)); */
}
.designerProfile .dfImage {
  max-width: 300px;
  max-height: 240px;
  border-radius: 0.3rem;
  overflow: hidden;
}
.designerProfile .dfImage img {
  width: 100%;
  transition: 0.3s ease-in-out;
}
.designerProfile:hover .dfImage img {
  scale: 1.05;
}
.dName .titleCaption{
  font-weight: 500;
  color: var(--text);
}
.dRole p{
  font-weight: 700;
}
.dSocial {
  position: absolute;
  transform: translateY(42px);
  display: flex;
  gap: 0.6rem;
  transition: 0.3s ease-in-out;
  opacity: 0;
}
.designerProfile:hover .dSocial {
  opacity: 1;
  transform: translateY(3px);
}
.dSocial .socialIcon img {
  cursor: pointer;
  width: 18px;
}
/* Why Choose Us */
.whyChooseGrid {
  display: flex;
  gap: 1.2rem;
}
.whyChContent {
  width: 100%;
}
.whyChCard {
  background: var(--theme-50);
}
.whyChCard h3 {
  color: var(--theme-500);
}
.whyChooseSideImg {
  width: 21vw;
  min-width: clamp(300px, 30vw, 330px);
  border-radius: 0.3rem;
  overflow: hidden;
}
.whyChooseSideImg img {
  width: 100%;
  height: 100%;
  max-height: 510px;
}
/* .whyChCard .cardImg{
     border: 1px solid red;
} */
.whyChCard .cardImg img {
  opacity: 0.6;
}


/* Our Services */
.ourServices{
  /* border: 1px dashed red; */
}
.ourServices  * {
  /* border: 1px dotted rgb(102, 255, 102); */
}
.ourServices .titleCaption{
  max-width: 720px;
}
.ourServicesGrid{
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1.2rem;
}
.ourServicesGrid .serviceLeftImg{
  max-height: 540px;
  overflow: hidden;
  border-radius: 0.3rem;
}
.ourServices.fadeInUp .serviceLeftImg img{
  opacity: 1;
}
.servicesList{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

.servicesList .serviceCard{
  /* height: max-content; */
  background: var(--theme-100);
  padding: 1rem;
  border-radius: 0.3rem;
  border: 1px solid transparent;
  transition: 0.21s ease;
}

.ourServices.fadeInUp .servicesList{
  /* padding-top: 0px; */
  opacity: 1;
}
.servicesList .serviceCard:hover{
  border:1px solid var(--theme-200);
  transform: translateY(-6px) scale(1.02);
}
.servicesList .serviceCard img{
  width: 51px;
}

.arteviaPageBannerContenent{
  max-width: 600px;
}
.arteviaPageBannerUpdateInfo{
  display: flex;
  align-items: center;
  gap: 2.4rem;
  width: max-content;
  padding: 0.42rem;
  border-radius: 0.3rem;
  border: 1px solid #0001;
  background: #fff1;
}
.arteviaPageBanner{
  position: relative;
  align-content: center;
  background: url("../images/portfolio/thumb10.webp");
  background-size: cover;
  background-position: center;
}
.arteviaPageBanner::before{
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-image: linear-gradient(90deg, var(--theme-100)30%, #fff9 50%, #fff0 60%);
  left: 0;
  top: 0;
  opacity: 0.9;
  z-index: -1;
}
.arteviaBadge{
  width: max-content;
  padding: 0.42rem 0.9rem;
  border-radius: 21px;
  font-size: 0.72rem;
  background: var(--theme-50);
  color: var(--theme-500);
  box-shadow: inset 0px 0px 5px #fff;
  text-transform: uppercase;
}
h1.arteviaPageBannerTitle{
  font-size: 3rem;
  color: var(--theme-500);
}
.updateDate, .readTime, .PublisherInfo{
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
.leftdot{
  position: absolute;
  width: 3px;
  height: 3px;
  border-radius: 12px;
  left: 0;
  top: 0;
  margin-top: 14px;
  margin-left: -15px;
  background: var(--theme-500);
}
.updateDate > *, .readTime > *, .PublisherInfo > *{
  color: var(--theme-500);
}
.UDIcon{
  display: flex;
}
.arteviaPageBannerUpdateInfo svg{
  fill: var(--theme-500);
  display: flex;
  margin-block: auto;
  /* border: 1px solid red; */
}
.arteviaPageBannerUpdateInfo .UDIMetaInfo{
  margin-block: auto;
  /* border: 1px solid lime;   */
  display: flex;
  align-items: center;
}
.arteviaPageRow,.arteviaPageCol{
  /* border: 1px solid #000; */
}
.arteviaPageRow{
  display: flex;
  gap: 2.1rem;
}
.abdImage img{
  border-radius: 0.6rem;
}
.abdBlock h3{
  font-size: 1.8rem;
  color: var(--theme-500);
}
.abdBlock > p{
  padding-top: 0.6rem;
}
.abdBlockQuote{
  /* background: var(--theme-50); */
  position: relative;
  padding: 1rem;
  padding-left: 4.2rem;
}

.abdBlockQuote p{
  padding: 0px;
  font-weight: 500;
}
#absQuote{
  position: absolute;
  left: 0;
  top: 0; 
  margin-top: 15px;
  margin-left: 15px;
  width: 42px;
  height: 42px;
}

#absQuote svg{
  fill: var(--theme-100);
}
.abdBlockImages{
  display: flex;
  gap: 1rem;
}
.adbBlockImg1, .adbBlockImg2{
  overflow: hidden;
}
.adbBlockImg1 img, .adbBlockImg2 img{
  border-radius: 0.3rem;
}


.arteviaBlogInfo{
  display: flex;
  border: 1px solid var(--theme-100);
  border-radius: 1rem;
  overflow: hidden;
}
.abiTeamInfo{
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}
.abiTeamImage img{
  border-radius: 30%;
}
.abiTeamProfile div{
  font-family: var(--lato) ;
  color: var(--template-black);
  padding-bottom: 0.3rem;
}
.abiCol2{
  padding: 1rem;
}
.title-m{
  font-size: 1.2rem !important;
  font-weight: bold;
  color: var(--theme-500);
}
.abiSocialMedia{
  display: grid;
  align-content: center;
  height: 100%;
  padding-left: 2.4rem;
  border-left: 1px solid var(--theme-100);
}
.abiSocialIcons{
  display: flex;
  gap: 1rem;
}
.abiSocialMedia .smIcon{
  background: var(--theme-100);
  width: 30px;
  height: 30px;
  border: 1px solid var(--theme-200);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.abiSocialMedia .smIcon svg{
  fill: var(--theme-500);
}
.arteviaRelatedArticles{
  display: flex;
  gap: 1rem;
  margin-top: 0.6rem;
}
.arteviaRelatedArticles .article{
  background: var(--theme-50);
  border: 1px solid var(--theme-100);
}
.arteviaRelatedArticles .article{
  border-radius: 0.6rem;
  overflow: hidden;
}
.articleMetaInfo{
  display: flex;
  font-size: 0.9rem;
  margin-top: 0.6rem;
  gap: 2.1rem;
  color: av
}
.araContent{
  position: relative;
  padding: 1rem;
}
.articleBadge{
  position: absolute;
  background: var(--theme-50);
  width: max-content;
  font-size: 0.72rem;
  font-family: var(--playfair);
  padding: 0.3rem 0.6rem;
  border-radius: 1.2rem;
  display: flex;
  margin-top: -30px;
  color: var(--theme-500);
  border: 1px solid var(--theme-100);

}
.articleReadTime{
  position: relative;
  color: var(--theme-500);
}
.articlePublishDate{
  color: var(--theme-500);
}
.articleReadTime::before{
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 6px;
  height: 6px;
  background: var(--theme-500);;
  border-radius: 50%;
  margin-top: 7px;
  margin-left: -1.2rem;
}
.abSearchBox, .newsLetterBoxWrap{
  padding: 1rem;
  border-radius: 0.3rem;
}
.newsLetterBoxWrap{
  padding: 0px;
}
.abiSearchBoxInput, .newsLetterBox{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc9;
  border-radius: 0.3rem;
  margin-top: 0.6rem;
  background: transparent;
  padding: 0.42rem 0.9rem;
  color: var(--text-muted) !important;
}
.newsLetterBox input::placeholder{
  font-size: 1rem;
  color: var(--text-muted);
}
.abiSearchBoxInput > input,
.newsLetterBox > input{
  border: none;
    outline: none;
    background: transparent !important;
    color: var(--text-muted);
  &:focus{
    border: none;
    outline: none;
    color: var(--text-muted);
  }
}
.newsLetterBox button{
  background: transparent;
  border: none;
  outline: none;
}

.newsLetterBox button svg path{
  fill: var(--theme-300);
  transition: 0.12s;
}
.newsLetterBox button:hover svg path{
    fill: var(--text);
}
.arteviaPageCol1{
  border-right: 1px solid var(--theme-50);
  padding-right: 2.1rem;
}
.abiSearchBoxInput input::placeholder,
.abiSearchBoxInput button{
  display: flex;
  align-items: center;
}
.categoryWrap, .popularPosts{
  padding: 1rem;
  border: 1px solid #ccc9;
  border-radius: 0.3rem;
  margin-top: 0.6rem;
}
.categoryWrap ul{
  list-style-type: none;
  margin-top: 0.6rem;
}
.categoryWrap ul li{
  display: flex;
  gap: 1rem;
  padding-block: 0.3rem;
  align-items: center;
  margin-bottom: 0.3rem;
}
.catgIcon{
  display: flex;
  align-items: center;
}
.catgIcon svg{
  padding-top: 0.12rem;
  fill: var(--theme-500);
}
.ppCard{
  display: flex;
  gap: 1rem;
  min-width: 300px;
}
.ppCard .ppCardImage img{
  width: 90px;
  border-radius: 0.3rem;
  overflow: hidden;
}
.arteviaBlogCTA{
  position: relative;
  padding: 1rem;
  background: linear-gradient(90deg, var(--theme-50), #0000);
  padding-right: 90px;
  border-radius: 0.3rem;
  overflow: hidden;
  border: 1px solid #ccc9;
}
.arteviaBlogCTA::before{
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: url("../images/blogs/flower-vase-modern-interior.webp");
  background-size: cover;
  background-position: center;
  z-index: -1;
}
.arteviaBlogCTA h3,
.arteviaBlogBottomCTA h3{
  font-size: 1.8rem;
  color: var(--theme-500);
}
.arteviaBlogCTA p{
  margin-block: 0.6rem 0.3rem;
}
.abbCTACol p{
  position: relative;
}
.arteviaBlogCTA button, .abbCTAColActionButton button{
  position: relative;
  background: linear-gradient(45deg, var(--theme-600), var(--theme-500));
  color: var(--theme-text);
  outline: none;
  border: 1px solid var(--theme-600);
  padding: 0.6rem 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
}
.arteviaBlogBottomCTA{
  position: relative;
  display: flex;
  gap: 1rem;
  justify-content: start;
  border: 1px solid var(--theme-100);
  padding: 1rem;
  background: linear-gradient(90deg, var(--theme-50), var(--theme-100), var(--theme-100));
  border-radius: 0.6rem;
}
.arteviaBlogBottomCTA::before{
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  width: 200px;
  height: 100%;
  background: url("../images/blogs/furniture.png");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.6;
}
.abbCTAColActionButton{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 6rem;
}
.newsLetterBoxWrap svg{
  fill: var(--theme-500);
  cursor: pointer;
}