@media screen and (min-width: 1023px) {
  .header,
  .footerRow {
    padding: 16px 6rem;
  }
  .header {
    display: flex;
  }
  section {
    padding: clamp(16px, 10vw, 6rem);
    padding-top: 9rem;
    opacity: 0;
    transition: 0.6s ease-in-out;
  }
  section.fadeInUp{
    padding-top: 4rem;
    opacity: 1;
  }
  .copyRights {
    padding: 8px 64px;
    text-align: center;
  }
  .navLinksWrap {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
  }
  .navLinksWrap .navGroup {
    display: flex;
    width: 100%;
    align-items: center;
  }
  .header .hamburger {
    display: none;
  }
  .navLinksWrap ul {
    gap: 1rem;
    gap: clamp(10px, 1rem, 42px);
    list-style-type: none;
  }
  .navLinksWrap .navLinks {
    position: relative;
    justify-content: start;
    display: flex;
    width: max-content;
    margin-inline: auto;
    padding: 0.6rem 2.1vw;
    padding: 0.6rem clamp(1.2vw, 2.1rem, 3vw);
    background: transparent;
  }
  .navLinksWrap .navLinks .hoverfloat {
    position: absolute;
    width: 0px;
    height: 3px;
    left: 0;
    bottom: 0;
    margin-bottom: 6px;
    background: var(--theme-bg-light-grey);
    transition: 0.3s linear;
    border-radius: 3px;
    opacity: 0;
    z-index: -1;
  }
  .navLinks li a {
    position: relative;
    background: transparent;
    display: inline-block;
    padding: 6px 12px;
  }
  .navLinks li a.active {
    color: var(--theme-100);
    background: var(--theme-bg-light-grey);
    border-radius: 3px;
    box-shadow: var(--shadow-s);
  }
  li a.active:hover .hoverfloat {
    width: 0px !important;
    opacity: 0;
  }
  .navLinks:has(li a.active:hover) .hoverfloat {
    opacity: 0 !important;
  }
  /* .navLinks li a.active::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(45deg, var(--theme-300), #fff6, var(--theme-300));
    box-shadow:  inset 0px 0px 12px var(--theme-200);
    transition: 0.3s linear;
    border: 1px solid #fff;
    border-radius: 3px;
    filter: blur(1px);
    z-index: -1;
  }
  .navLinks li a svg{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    inset: 0;
    width: 100%;
    height: 100%;
  } */
  .navLinks li a.active svg{
    opacity: 1;
  }
  .navLinks:not(:hover) .hoverfloat {
    width: 0px !important;
    opacity: 0;
  }
  .navLinksWrap .navCTA {
    width: max-content;
  }
  .ctaActionControllers .primaryctaBtn:focus,
  .ctaActionControllers .secondaryctaBtn:focus {
    outline: 2px solid var(--theme-500);
  }
  /* desktop banner */
  .banner {
    grid-template-columns: 1fr 1fr;
  }

  .bannerContentWrap {
    position: relative;
    height: max-content;
  }
  .bannerImage {
    position: relative;
    width: 39vw;
    /* width: 600px; */
    min-height: 300px;
    height: 100%;
    max-height: 1080px;
    margin-left: auto;
    overflow: hidden;
  }
  .bannerImage img {
    width: 100%;
    height: 100%;
    padding: 1rem;
    border-radius: 30rem;
    
    /* object-fit: stetch; */
  }
  .heroMetrics{
    max-width: 600px;
  }
  .aboutRow .aboutImageWrap{
    min-width: 510px;
  }
  
  .aboutRow .aboutImageWrap:hover{
    cursor: url("../../images/cursor.svg"), default;
  }
.aboutContent {
  /* margin-left: auto; */
  height: 100%;
  display: grid;
  padding-left: 1rem;
  align-content: start;
}
  .aboutCounters {
    height: 100%;
    background: var(--theme-50)
  }
  .aboutCounter{
    max-width: 420px;
  }


  

  .contactInfoBlock {
    padding-left: 1.2rem;
  }
  .team{
    position: relative;
  }
  .team::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: url("../../images/team/pattern.svg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.06;
    z-index: -1;
  }
  .designersGrid > p{
    padding-inline: 1rem;
  }
}
@media screen and (min-width: 1919px) {

.aboutBlog .aboutBlogCol2 picture img{
  width: 100%;
  max-height: 900px;
}
}
